* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {background-color: #360c1b;}

#wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(99, 38, 38);
}
header img {
 width: 1000px;
 display: block;

}

nav {
    background-color: #3a3436;
}

a.menu {
    display: flex;
    flex-direction:column;
    flex: 1 1;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {background-color: #1b0f13;}
.active {background-color: #1b1b1b;}

article {
    margin-top: 30px;
    margin-bottom: 20px;}
article h1 {
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid #360C1B
}
img.left {
    float: left;
    padding: 10px;
}
img.left1 {
    float: left;
    padding: 10px;
}
article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px;
}
footer{
    height: 40px;
    background-color: #5e152e;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}
#ds1{
    background-color: rgb(0, 0, 0);
}
img.left2{
    float: left;
    padding: 10px;
}
#wrapper1{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(49, 45, 45);
}
article p{
    color: white;
}
#pod{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid #ffffff
}
#pod1{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid #ffffff
}
#ds2{
    background-color: rgb(56, 45, 45);
}
#ds3{
    background-color: rgb(63, 63, 8);
}
img.left3{
    float: left;
    padding: 10px;
}
img.left4{
    float: left;
    padding: 10px;
}
#wrapper3{
        max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(87, 100, 51);
}
#wrapper4{
          max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(39, 49, 4); 
}
#er{
    background-color: rgb(41, 24, 2);
}
img.left7{
    float: left;
    padding: 10px;
}
img.left6{
    float: left;
    padding: 10px;
}

/* --- RESPONSYWNOŚĆ --- */

/* wszystkie obrazki skalują się automatycznie */
img {
    max-width: 100%;
    height: auto;
}

/* wrapper dopasowuje się do telefonu */
#wrapper, #wrapper1, #wrapper3, #wrapper4 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* responsywny YouTube */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* proporcja 16:9 */
    height: 0;
    margin: 20px 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* na telefonach menu w jednej kolumnie, ale styl pozostaje taki sam */
@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column; /* kolumna na telefonie */
        gap: 0;
    }

    a.menu {
        flex: 1 1 auto; /* każdy link dopasowuje się do szerokości ekranu */
    }

    article p {
        font-size: 16px;
        line-height: 22px;
    }

    h1 {
        font-size: 26px;
        text-align: center;
    }

    /* zdjęcia w artykułach nie floatują na telefonie */
    img.left, img.left1, img.left2, img.left3, img.left4, img.left6, img.left7 {
        float: none;
        display: block;
        margin: 0 auto 20px auto;
    }
}
